.fbc-page .fbc-items > li {
    display: inline-block;
}

.contents h1{
	margin : 0  2em 0 2em;
}

.fbc-page{
	padding: 10px 15px 0 0 !important;
}

.contents h1:before {
	background-color: #4A67A6;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 2em;
}

dl, ol, ul {
    margin-top: 40px;
    margin-bottom: 0;
	padding: 0;
}

.elementor-8171 .elementor-element.elementor-element-fbd9892 > .elementor-widget-container {
    margin: 0rem 2rem 2rem 2rem;
}

.elementor-widget-image {
    margin-bottom: 16px;
}

.subSection-title:after, h3:after {
    content: ".";
    line-height: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    width: 30%;
    border-bottom: 1px solid #337ab7;
}