.fbc-page .fbc-items > li {
    display: inline-block;
}

.fbc-page{
	padding: 10px 15px 0 0 !important;
}

.contents h1{
	margin : 0  2em 0 2em;
}


dl, ol, ul {
    margin-top: 40px;
    margin-bottom: 0;
	padding: 0;
}

.elementor-8171 .elementor-element.elementor-element-fbd9892 > .elementor-widget-container {
    margin: 1.5em 0 3em 0;
}

.elementor-widget-image {
    margin-bottom: 16px;
}

.elementor embed, .elementor iframe, .elementor object, .elementor video {    
    border-style: groove;
    height: 20em;
}

dl.inquirydl {
    max-width: 53% !important;
}

.privacypolicy {
    text-align: center;
}

.radio-margin {
    margin-right: 2em;
}