.fbc-page .fbc-items > li {
    display: inline-block;
}

.contents h1:before{
	background-color: transparent;
}

.fbc-page{
	padding: 10px 15px 0 0 !important;
}


.contents h1{
	margin : 1.5em  2em 0 2em;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
	padding: 0;
}

.background-login {
	background: #E2F0D9;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 100%;
}

.elementor-8171 .elementor-element.elementor-element-fbd9892 > .elementor-widget-container {
    margin: 0 0 2rem 0;
}

.elementor-section-height {
	height: 40px;
	margin: -15px 0 10px 0;
}

.elementor-size {
	font-size: 25px;
}

.grid-lv1 {
	display: grid;
	justify-items: center;
	grid-row-gap: 25px;

}
.grid-lv2 {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
}
.seems-login-error {
	color: #FF0000;
	background: #FEE6E7;
	border: 1px solid #FEE6E7;
	height: 60px;
    width: 37%;
	padding: 20px;
}	
 .text-align-label {
	 text-align: left;
 }
 
 .font-weight-label {
	font-weight: normal;
	padding-bottom: 1.5em;
 }
 
 .form-inline .form-control {
	width: 30em;
 }
 
 .padding-checkbox {
	 padding-top: 20px;
 }