.fbc-page .fbc-items > li {
    display: inline-block;
}

.contents h1{
	margin : 0  2em 0 2em;
}

.fbc-page{
	padding: 10px 15px 0 0 !important;
}

dl, ol, ul {
    margin-top: 40px;
    margin-bottom: 0;
	padding: 0;
}

.grid-layout {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
	padding: 10px;
    justify-content: center;
}

.grid-layout-lv1 {
	display: grid;
	grid-template-columns: 22% 40%;
	grid-gap: 10px;
	padding: 10px;
    justify-content: center;
}

.text-align {
    text-align: left;
}

.ul-font-size {
    font-size: 18px;
}

.elementor-text-align {
    text-align: left;
}

.border-style {
    border-bottom-style: solid;
    border-bottom-color: #4472C4;
    text-align: right;
}

.text-align-href {
    text-align: left;
    margin: 0 0 2% 17%;
}