@charset "utf-8";

/* ------------------------------------------
　　Contener/Breadcrumb
------------------------------------------ */
@media (min-width: 768px) {
.container, .fbc-page {
	width: 100%;
	max-width: 1140px;
}
}
@media (min-width: 992px) {
.container, .fbc-page {
	width: 100%;
	max-width: 1140px;
}
}
@media (min-width: 1200px) {
.container, .fbc-page {
	width: 100%;
	max-width: 1140px;
}
}

.fbc-page {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 15px;
	box-sizing: border-box;
}

.fbc-page .fbc-wrap .fbc-items {
	background-color: inherit;
}

.fbc-page .fbc-wrap .fbc-items li {
	padding: 0 5px;
}

.fbc-page .fbc-wrap .fbc-items li a:hover {
	text-decoration: none;
}

.fbc-page .fbc-wrap .fbc-items li a i {
	margin-right: 0;
}

.fbc-page .fbc-wrap .fbc-items li:last-child {
	padding-right: 5px;
}

.fbc-page .fbc-wrap .fbc-items li a:last-child {
	margin-right: 0;
}

.fbc-page .fbc-wrap .fbc-items,
.fbc-page .fbc-wrap .fbc-items li,
.fbc-page .fbc-wrap .fbc-items li.active span, .fbc-page .fbc-wrap .fbc-items li .fbc-end-text {
	font-size: 14px;
}


/* ------------------------------------------
　　Header
------------------------------------------ */
header {
	font-size: 14px;
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
}

header li, .gMenu_name {
	font-weight: 600;
}

.siteHeadContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
}
.siteHeadContainer:after {
	width: 100%;
	content: '';
}

.container.siteHeadContainer:before {
	content: none;
}

.siteMenuContainer, .searchBox {
	order: 1;
}

.searchBox {
	margin-left: auto;
}

.navbar-brand {
	margin: 0;
	padding: 15px;
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}

.navbar-brand a {
	display: block;
	display: flex;
	align-items: center;
}

.navbar-brand span {
	display: inline-block;
}

.navbar-brand .logo {
	margin-right: 20px;
}

.navbar-brand img {
	margin: 0;
}

ul.gMenu {
	float: none;
}

.mobileHeader {
	margin-right: 30px;
}

.mobileHeader.widget_nav_menu ul li a {
	padding: 0.2em 0.5em;
	/*border: 1px solid #464646;*/
	border-radius: 3px;
}
.mobileHeader.widget_nav_menu ul li a:hover {
	color: #fff;
	background-color: #464646;
}

.siteHeadContainer .widget_nav_menu ul li {
	display: inline-block;
}

.siteHeadContainer .headerMenu.widget_nav_menu ul li a {
	border-bottom: none;
}

li.mypage a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f007';
}
li.cart a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f07a';
}
li.inquiry a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f0e0';
}

li.mypagetop a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f007';
}

li.building a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f1ad';
}
li.faq a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
}

i.otherlink, .otherlink a:after,
li.axisHP a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f2d2';
}

.headerMenu, .searchBox {
	display: none;
}

.searchBox div {
	background-color: #f5f5f5;
}

.searchBox div:before {
	margin-left: 5px;
	vertical-align: middle;
	color: #312724;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f002';
}

.searchBox .form-control {
	max-width: 12em;
	padding: 0;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background-color: transparent;
}

.searchBox .form-control:focus {
	border: none;
	box-shadow: none;
}

.searchBox .btn {
	margin: 0;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	font-weight: 400;
	text-align: center;
	background-image: none;
	background-color: #312724;
	border: none;
	border-radius: 0;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	touch-action: manipulation;
	user-select: none;
}

.vk-mobile-nav-menu-btn {
	top: 20px;
	right: 5px;
	left: auto;
}

.vk-mobile-nav .global-nav {
	margin-bottom: 0;
}

.mobileBrand {
	display: none;
	position: relative;
}

.mobileBrand .mobileMenu {
	right: 15px;
	top: 0;
	position: absolute;
}

.mobileBrand .mobileMenu li a {
	font-size: 0;
	border-bottom: none;
	display: inline-block;
}
.mobileBrand .mobileMenu li a:after {
	font-size: 20px;
}

.mobileMenu {
	margin: 0;
	padding: 0;
}

.mobileMenu li {
	margin-bottom: 0;
	font-size: 14px;
	list-style: none;
	line-height: 1.65;
}

.mobileMenu li a {
	padding: 0.7em 0.5em;
	color: #333;
	display: block;
	border-bottom: 1px solid #ccc;
}
.mobileMenu li a:hover {
	text-decoration: none;
}

/* スクロール時メニュー */
body.scrolled .headerMenu.widget_nav_menu ul li.mypage,
body.scrolled .headerMenu.widget_nav_menu ul li.axisHP,
body.scrolled .searchBox {
	display: none;
}
body.scrolled .headerMenu.widget_nav_menu ul li a {
	padding: 0.2em 0.5em;
	/*border: 1px solid #464646;*/
	border-radius: 3px;
}
body.scrolled .headerMenu.widget_nav_menu ul li a:hover {
	color: #fff;
	background-color: #464646;
}
body.scrolled .siteHeadContainer {
	justify-content: flex-start;
}
body.scrolled .headerMenu, body.scrolled .mobileHeader {
	margin-left: auto;
}
body.scrolled .siteHeadContainer:after {
	width: 0;
	content: none;
}
body.scrolled .headerMenu, body.scrolled .mobileHeader {
	order: 2;
}


/* ------------------------------------------
　　Footer
------------------------------------------ */
footer {
	font-size: 14px;
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
}

/* Pマーク・コンテンツリスト */
.license {
	display: flex;
}

.license p {
	width: 100%;
	max-width: 200px;
	padding-top: 2em;
	position: relative;
	display: inline-block;
}

.license p a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.license p a span {
	font-size: 18px;
	font-weight: 600;
}

.license img {
	/* max-width: 100px; */
	max-height: 100px;
}

footer .contentBox ul li a {
	padding: 0;
}

footer .contentBox .menu li {
	margin-bottom: 1em;
	font-size: 18px;
	font-weight: 600;
}

footer .contentBox .menu li a {
	border-bottom: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	display: inline-block;
}

footer .contentBox .sub-menu {
	margin-left: 20px;
}

footer .contentBox .sub-menu li {
	margin: 0 15px 0 0;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
}

footer .contentBox .sub-menu li a {
	border-bottom: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* フッターメニュー */
footer .footerMenu {
	font-size: 14px;
	border: none;
}

footer .footerMenu li a,
footer .footerMenu li:last-child a {
	border: none;
}

footer .nav > li {
	margin-right: 1em;
}

footer .nav > li > a {
	padding: 0;
}

footer .nav > li > a:focus, footer .nav > li > a:hover {
	background-color: transparent;
}

/* Copyright・オフィス情報 */
footer .copySection p {
	margin: 0;
	font-size: 14px;
}

footer .copySection .office {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer .copySection .office span {
	margin-right: 1em;
	display: inline-block;
}

footer .copySection .logo {
	margin: 5px 15px;
}
footer .copySection .address:after {
	width: 100%;
	content: '';
}

footer p.copyright {
	margin-top: 1em;
	font-size: 12px;
	text-align: center;
	display: block;
}

/* ------------------------------------------
　　Link Icon
------------------------------------------ */
.headerMenu a, footer a {
	color: inherit;
	text-decoration: none;
}
.headerMenu a:hover,
footer .widget_nav_menu ul li a:hover, footer a:hover {
	color: #337ab7;
	text-decoration: none;
}
.headerMenu a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
}

footer a:after {
	padding-left: 0.3em;
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	content: '\f105';
}

.headerMenu a:link, footer a:link, footer .widget_nav_menu ul li a:link,
footer .widget_nav_menu ul li a:active, footer a:active {
	text-decoration: none;
}

a[href^="mailto:"]:after {
	content: none;
}


@media screen and (max-width:500px) {
	.navbar-brand {
		width: 80%;
	}
	footer .container {
		padding: 0;
	}
	footer .contentBox .sub-menu {
		display: none;
	}
	footer .contentBox .menu li {
		margin-bottom: 0;
		padding: 10px;
		border-bottom: 1px solid #e5e5e5;
	}
	footer .contentBox .menu li a {
		display: block;
	}
	footer .licenseBox {
		margin: 2em auto;
		padding: 0 15px;
	}
	.license p {
		text-align: center;
	}
	.copySection .container {
		padding: 2em 15px;
	}
}

@media screen and (max-width:767px) {
	footer .footerMenu .container {
		padding: 0 15px;
	}
	footer .footerMenu li {
		border-bottom: none;
		display: inline-block;
	}
}

@media screen and (max-width:730px) {
	header .mobileHeader {
		margin-right: 30px;
	}
	.navbar-brand  span.name {
		display: none;
	}
	.mobileBrand {
		display: block;
	}
	
}

@media screen and (max-width:860px) {
	.navbar-brand  span.name {
		display: none;
	}
}


@media screen and (min-width:992px) {
	body.scrolled .navbar-brand span.name {
		display: block;
	}
	.headerMenu, .searchBox {
		display: block;
	}
	.mobileHeader {
		display: none;
	}
	footer .widgetBox {
		display: flex;
	}
	footer .widgetBox .contentBox {
		flex: 3;
	}
	footer .widgetBox .licenseBox {
		flex: 2;
	}
	.license {
		text-align: center;
	}
}
