<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>個人情報の取扱いについて</title>
    <link href="./../css/apply-info.css" rel="stylesheet">    
</head>

<body>
    <h3 style="text-align: center;">「RevoWorks Browser月額版」サービズご利用規約</h3>
    <span>第１章　総則
        <br>第１条（本規約の適用）
        <br>１　この「RevoWorks Browser月額版」サービス利用規約（以下「本規約」といいます。）は、株式会社アクシス（以下「当社」といいます。）が、「RevoWorks Browser 月額版」の名称で提供するサービス（以下「本サービス」といいます。）の利用に関して、当社と本サービスを利用する本サービス会員（以下「会員」といいます。）との間に適用される条件を定めるものです。
    </span>
    
    <p>２　会員は、本規約のほか、本サービスに関連する規則、ルール、ガイドライン、注意事項、及び当社からの通知事項等（以下併せて「本規約等」といいます。）を遵守するものとします。会員は、本サービスの利用にあたって、本規約等をよく読み、理解し、同意した上で本サービスの利用を申込み、及び利用するものとします。
        第２条（本規約等の変更）         
    </p>

    <p>１　当社は、本規約等を変更する場合、当社が別途定める会員利用規約（以下「会員規約」といいます。）第４条（当社から
    </p>

</body>

</html>