<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RevoWorks</title>

	<link rel="stylesheet" id="parent-style-css" href="./css/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="lightning-common-style-css" href="./css/common.css" type="text/css" media="all">
	<link rel="stylesheet" id="lightning-design-style-css" href="./css/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-frontend-css" href="./RevoWorks_files/frontend.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-global-css" href="./RevoWorks_files/global.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-8171-css" href="./RevoWorks_files/post-8171.css" type="text/css" media="all">
	<link rel="stylesheet" id="font-awesome-css" href="./css/all.min.css" type="text/css" media="all"> 
	<link href="./css/index.css" rel="stylesheet">
	
	<link rel="stylesheet" id="font-awesome-css" href="./RevoWorks_files/all.min.css" type="text/css" media="all"> 
	<link rel="stylesheet" id="wp-block-library-css" href="./RevoWorks_files/style.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="flexy-breadcrumb-css" href="./RevoWorks_files/flexy-breadcrumb-public.css" type="text/css" media="all">
	<link rel="stylesheet" id="flexy-breadcrumb-font-awesome-css" href="./RevoWorks_files/font-awesome.min.css" type="text/css"
	 media="all">
	<link rel="stylesheet" id="responsive-lightbox-magnific-css" href="./RevoWorks_files/magnific-popup.min.css" type="text/css"
	 media="all">
	<link rel="stylesheet" id="dlm-frontend-css" href="./RevoWorks_files/frontend.css" type="text/css" media="all">
	
	<link rel="stylesheet" id="lightning-common-style-css" href="./RevoWorks_files/common.css" type="text/css" media="all">
	<link rel="stylesheet" id="lightning-design-style-css" href="./RevoWorks_files/style(1).css" type="text/css" media="all">
	<link rel="stylesheet" id="lightning-theme-style-css" href="./RevoWorks_files/style(2).css" type="text/css" media="all">

	<link rel="stylesheet" id="elementor-icons-css" href="./RevoWorks_files/elementor-icons.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-animations-css" href="./RevoWorks_files/animations.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-frontend-legacy-css" href="./RevoWorks_files/frontend-legacy.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-frontend-css" href="./RevoWorks_files/frontend.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-3122-css" href="./RevoWorks_files/post-3122.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-pro-css" href="./RevoWorks_files/frontend.min(1).css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-global-css" href="./RevoWorks_files/global.css" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-8171-css" href="./RevoWorks_files/post-8171.css" type="text/css" media="all">
	<link rel="stylesheet" id="google-fonts-1-css" href="./RevoWorks_files/css" type="text/css" media="all">
	<link rel="https://api.w.org/" href="https://www.axisjp.co.jp/wp-json/">
	<link rel="alternate" type="application/json" href="https://www.axisjp.co.jp/wp-json/wp/v2/pages/8171">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.axisjp.co.jp/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.axisjp.co.jp/wp-includes/wlwmanifest.xml">

	<link rel="shortlink" href="https://www.axisjp.co.jp/?p=8171">
	<link rel="alternate" type="application/json+oembed" href="https://www.axisjp.co.jp/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.axisjp.co.jp%2Fservices%2Frevoworks%2Fseparation">
	<link rel="alternate" type="text/xml+oembed" href="https://www.axisjp.co.jp/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.axisjp.co.jp%2Fservices%2Frevoworks%2Fseparation&amp;format=xml">

	<link rel="icon" href="./RevoWorks_files/favicon.png" sizes="32x32">
	<link rel="icon" href="./RevoWorks_files/favicon.png" sizes="192x192">
	<link rel="apple-touch-icon" href="./RevoWorks_files/favicon.png">


	<script type="text/javascript" src="./RevoWorks_files/jquery.min.js.download" id="jquery-core-js"></script>
	<script type="text/javascript" src="./RevoWorks_files/jquery-migrate.min.js.download" id="jquery-migrate-js"></script>
	<script type="text/javascript" src="./RevoWorks_files/jquery.magnific-popup.min.js.download" id="responsive-lightbox-magnific-js"></script>
	<script type="text/javascript" src="./RevoWorks_files/underscore.min.js.download" id="underscore-js"></script>
	<script type="text/javascript" src="./RevoWorks_files/infinite-scroll.pkgd.min.js.download" id="responsive-lightbox-infinite-scroll-js"></script>
	<script type="text/javascript" id="responsive-lightbox-js-extra">
		/* <![CDATA[ */
		var rlArgs = { "script": "magnific", "selector": "lightbox", "customEvents": "", "activeGalleries": "1", "disableOn": "0", "midClick": "1", "preloader": "1", "closeOnContentClick": "1", "closeOnBgClick": "1", "closeBtnInside": "1", "showCloseBtn": "1", "enableEscapeKey": "1", "alignTop": "", "fixedContentPos": "auto", "fixedBgPos": "auto", "autoFocusLast": "1", "woocommerce_gallery": "0", "ajaxurl": "https:\/\/www.axisjp.co.jp\/wp-admin\/admin-ajax.php", "nonce": "5703c243c7" };
/* ]]> */
	</script>
	<script type="text/javascript" src="./RevoWorks_files/front.js.download" id="responsive-lightbox-js"></script>