<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>個人情報の取扱いについて</title>
    <link href="./css/install-info.css" rel="stylesheet">    
</head>

<body>
    <span>「RevoWorks Browser月額版」のご使用前に必ずお読みください
        <br>下記の使用許諾契約書（以下「本契約」といいます）は、お客様と株式会社アクシスとの間の契約です。「RevoWorks Browser月額
        <br>版」（第4条所定のサポートサービスの一環として提供される一切のパターンファイル、検索エンジンおよびプログラムモジュール
        <br>等、ならびに、ソフトウェア製品に付属するツール等のうち専用の使用許諾契約書がないものを含みます。以下、総称して「本ソ
        <br>フトウェア」といいます。）をインストール、複製、または使用することによって、お客様は本契約のすべての条件に同意された
        <br>ことになります。本契約の条件に同意できない場合は、本ソフトウェアをダウンロードおよびインストールすることはできません。
    </span>
    
    <p>使用許諾契約書
        <br>第１条使用権の許諾  
    </p>

    <p>株式会社アクシスは、本契約記載の条件に従い、本ソフトウェアに関し、本条に定めるクライアントハードウェア（サーバハード
        <br>ウェアは含まれません）におけるセキュリティ対策を目的とした以下の非独占的、再許諾不可能かつ譲渡不可能な権利をお客様に
        <br>対して許諾します。
    </p>

    <p>本ソフトウェアのID（以下「ID」といいます）1件につき本ソフトウェアの1コピーを上限として、それぞれ1オペレーティングシス
        <br>テム(本ソフトウェアのマニュアル等に記載されている対応オペレーティングシステムに限ります)へインストールし、当該
    </p>
    
</body>

</html>